.side-nav-btn {
  outline: none;
  appearance: none;
}

.side-nav-btn:focus,
.side-nav-btn:focus-visible,
.side-nav-btn:active {
  outline: none;
  box-shadow: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
